
$thing = 15em // arbitrary break point unit

// $break points
bp($point)
	if $point == m
		@media only screen and (min-width: ($thing*2))
			{block}
	if $point == m-plus
		@media only screen and (min-width: ($thing*3))
			{block}
	else if $point == l
		@media only screen and (min-width: ($thing*4))
			{block}
	else if $point == x
		// for when you need to be sure of a specific minimum size
		@media only screen and (min-width: ($thing*3)) and (min-height: ($thing*4))
			{block}
	else if $point == l-plus
		@media only screen and (min-width: ($thing*5))
			{block}
	else if $point == xl
		@media only screen and (min-width: ($thing*6))
			{block}
	else if $point == xl-plus
		@media only screen and (min-width: ($thing*7))
			{block}

