
// accesibly hidden
// http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility
.visually-hidden 
	position: absolute !important
	clip: rect(1px, 1px, 1px, 1px)
	padding: 0 !important
	border: 0 !important
	height: 1px !important
	width: 1px !important
	overflow: hidden

body:hover 
	.visually-hidden 
		a, input, button
			display: none !important
