
// box-model reset
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

clear-fix()
	&:after
		content: ''
		display: table
		clear: 	both

body
	clear-fix()
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent
	// set these specifically within scope / or not...

// major blocks
block()
	display: block
	width: 100%
	float: left
	clear-fix()

.container, .block
	block()

// center big blocks... like .inner-w
center-block()
	clear-floats()
	margin-left: auto
	margin-right: auto

full-width() 
	max-width: 100%
	padding: 0

// responsive image wrapper
image-w() 
	img, svg, iframe, video, canvas
		display: block
		width: 100%
		height: auto
