
/*
break-points 

base these on when things get ugly
and not any 'ipad' device specific stuff...

*/

$bp-1 = 500px
$bp-2 = 700px
$bp-3 = 1000px
$bp-4 = 1300px
$bp-5 = 1700px
$bp-6 = 2100px
$bp-7 = 2400px
$bp-8 = 2700px
$bp-9 = 3000px

break-point-1 = 'screen and ( min-width: ($bp-1) )'
break-point-2 = 'screen and ( min-width: ($bp-2) )'
break-point-3 = 'screen and ( min-width: ($bp-3) )'
break-point-4 = 'screen and ( min-width: ($bp-4) )'
break-point-5 = 'screen and ( min-width: ($bp-5) )'
break-point-6 = 'screen and ( min-width: ($bp-6) )'
break-point-7 = 'screen and ( min-width: ($bp-7) )'
break-point-8 = 'screen and ( min-width: ($bp-8) )'
break-point-9 = 'screen and ( min-width: ($bp-9) )'

