
// standard button
.button
	display inline-block
	background $highlight
	color $white
	border-radius $corner
	padding 0 ($padding*2)
	line-height $tap
	tap-area()
	min-width 160px
	text-align center

// styles
.one
	background $color

.two
	background $gray-light

.thing
	color red
