
// standard button
.button
	display: inline-block
	background: $gray
	color: $gray-dark
	border-radius: $corner
	padding: $pad $pad*2
	line-height: $tap
	min-width: 160px
	text-align: center
	cursor: pointer
	transition: .5s
	&:hover
		background: $gray-dark
		color: $white
		transition: .1s
	&.color
		background: $color
		color: $color-dark
	&.highlight
		background: $highlight
		color: $highlight-dark
	&.alternate
		background: $alternate
		color: $alternate-dark
	> * //
		balance()
	@media break-point-2
		max-width: auto
		max-height: auto

// reusable components can live here...
