
// set temp wireframes true/false
wire-frames(wire-frames-on = false)
	if wire-frames-on
		border: 1px solid rgba(0,0,0,.05)
		padding: ($padding/2)
		.container
			margin-bottom: $padding
			border: 1px solid rgba(0,0,0,.1)

* // set temp frames to everything
	wire-frames()

// simplified position syntax
static()
	position: static
	
relative()
	position: relative
	
absolute()
	position: absolute

fixed()
	position: fixed

// vertically align buddy elements
balance()
	float: none // to be *sure there is no float
	display: inline-block
	vertical-align: middle

balance-buddy($position, $height = 0)
  //
	if $position == before
		&:before
			balance()
			content: ''
			width: 0
			height: $height
			overflow: hidden
	else if $position == after
		&:after
			balance()
			content: ''
			width: 0
			height: $height
			overflow: hidden
	else //
		//

hide()
  	display: none

show()
	display: block

// absolutly center
center-center()
	float: none
	absolute()
	margin: auto
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	
absolute-cover()
	absolute()
	width: 100%
	height: 100%
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: black

fixed-cover()
	fixed()
	width: 100%
	height: 100%
	top: 0
	right: 0
	bottom: 0
	left: 0

// simple widths
split-in($number-of-parts)
	width: (1 / $number-of-parts * 100%)

// minimum area for "tap" interaction
$tap-size = 44px
tap-area()
	min-width: $tap-size
	min-height: $tap-size
	@media break-point-2
		min-width: auto
		min-height: auto
		

block-size($width, $height = $width)
	display: block
	width: $width
	height: $width







