//////////////////////////////////////////

// ERASE THIS WHOLE PAGE AND START FRESH :)

//////////////////////////////////////////


body //
	background white
	font-family helvetica

.inner-w
	max-width 800px
	padding $padding


// sections
// =====================================

