
//////////////////////////////////////////

// ERASE THIS WHOLE PAGE AND START FRESH :)

//////////////////////////////////////////



html //
	background: $white

/*
linear-gradient(to bottom, $alternate 0%, $alternate 50%, $highlight 50%, $highlight 100%)
*/

// big picture
body //
	font-family: $base-font-stack
	background: $white

.inner-w
	center-block()
	max-width: 1000px
	padding: $pad
	clear-fix()
	@media $break-point-2
		padding: $pad $pad*2

.master
	min-height: 100%
	background: $alternate
	flex-balance()

.loading
	fixed-translate-center()

.image-w
	image-w()

// sections
// =====================================

.header
	theme(color)
	.inner-w
		padding-top: $pad*3
	.site-title
		large-icons()
		display: flex
		flex-direction: row
		align-items: center
	nav //
		.inner-w
			padding: 0
		menu
			//

.masthead
	.site-title
		display: flex
		flex-direction: row
		align-items: center


.page-header
	theme(highlight)
	.inner-w
		padding: 0
	h2 //
		width: auto
		min-width: 100px
		float: left
		large-type()
	nav //
		float: right
		.menu
			//
			li //
				float: left
				&:not(:first-of-type)
					border-left: 1px solid $highlight-dark
			a //
				display: block
				padding: $pad $pad*2
				&:active
					background: $highlight-dark
					color: $highlight
				&.active
					background: $highlight-light
					color: $highlight-dark
					&:active
						background: $highlight-light
						color: $highlight-dark

.stage
	padding-bottom: $pad*8

.stage.posts
	li //
		max-width: 600px
	.column
		&:nth-of-type(2)
			li //
				background: $alternate-light
				color: $alternate-dark
	@media $break-point-3
		.column
			&:nth-of-type(1)
				width: 65%
			&:nth-of-type(2)
				width: 32%
				float: right

.stage.books
	//

.page-title
	padding: $pad 0
	margin-bottom: $pad

.post-list
	//
	li //
		margin-bottom: $pad*2
		background: $alternate-dark
		color: $alternate
		padding: $pad

.grid-examples
	min-height: 200px
	.block
		margin-bottom: $pad*5
		@media $break-point-2-4
			&:nth-of-type(1)
				width: 60%
			&:nth-of-type(2)
				float: right
				width: 30%
				padding: $pad
				padding-bottom: 0
				background: $alternate-dark
				margin-bottom: 0
				li //
					background: $alternate
			&:nth-of-type(3)
				float: right
				width: 30%
				clear: right
				padding: $pad
				padding-bottom: 0
				background: $alternate-dark
				li //
					background: $alternate
		@media $break-point-4		
			&:nth-of-type(1)
				width: 32%
				margin-right: 2%
				background: $alternate-dark
				padding: $pad*2
				padding-bottom: $pad
				div //
					background: $alternate
			&:nth-of-type(2)
				float: left
				width: 32%
				margin-right: 2%
			&:nth-of-type(3)
				float: left
				width: 32%
				clear: none
	.grid-1
		//
		@media $break-point-1-3
			grid-in(2)
		@media $break-point-3-8
			grid-in(6)
		@media $break-point-8
			grid-in(3)
		> * //
			background: $alternate-dark
			margin-bottom: $pad
			min-height: 40px
			
	.grid-2
		//
		@media $break-point-1-4
			grid-in(7)
		@media $break-point-4-7
			grid-in(5)
		@media $break-point-7
			grid-in(2)
		> * //
			background: $alternate-dark
			margin-bottom: $pad
			min-height: 30px
			
	.grid-3
		//
		@media $break-point-1-3
			grid-in(20)
		@media $break-point-3
			grid-in(11)
		> * //
			background: $alternate-dark
			margin-bottom: $pad
			min-height: 30px

.footer
	theme(highlight)
	.inner-w
		padding-bottom: $pad*12

.phone-home
	display: block
	
.book-list
	> li //
		background: $alternate-light
		margin-bottom: $pad*3
		padding: $pad

.book-cover
	max-width: 150px



// sections
// =====================================
