//////////////////////////////////////////

// ERASE THIS WHOLE PAGE AND START FRESH :)

//////////////////////////////////////////


body //
	background: white
	font-family: $base-font-stack

.inner-w
	max-width: 1000px
	padding: $pad
	@media break-point-2
		padding: $pad*2
		


// sections
// =====================================

