
// type reset
h1, h2, h3, h4, h5, h6, li, p
	margin: 0
	padding: 0
	font-weight: 400

selectable($target)
	-webkit-user-select: $target
	-khtml-user-select: $target
	-moz-user-select: -moz- + ($target)
	-o-user-select: $target
	user-select: $target

*:not(input) //
	selectable(none)

h1, h2, h3, h4, h5, h6, li, p
	selectable(text)

// text selection reset
* //
	&::-moz-selection,
	&::selection
		background: rgba(255,255,255,0) // nessesary ? $check
		background: transparent

selection-color($selection-color)
	&::-moz-selection
		color: $selection-color
	&::selection
		color: $selection-color

// scope specific text selection highlights
selection-color($highlight)

// font stack
$heading-font-stack	= 'Quicksand', sans-serif
$base-font-stack 	= 'Georgia', serif

// simplified font-size syntax ??? 
size($font-size)
	font-size: ($font-size)px
	
font-size($font-size)
	font-size: ($font-size)px

// type size patterns
extra-small-type()
	copy()
	font-size(10)
	line-height: 1.4
	color: $gray
	@media break-point-2
		font-size(11)

small-type()
	copy()
	font-size(13)
	line-height: 1.4
	color: $gray-dark
	@media break-point-2
		font-size(14)

standard-type()
	copy()
	font-size(16)
	line-height: 1.4
	color $black
	@media break-point-2
		font-size(17)

medium-type()
	font-size(19)
	line-height: 1.4
	color: $color
	font-weight: bold
	@media break-point-2
		font-size(20)

large-type()
	font-size(24)
	line-height: 1.4
	color: $alternate
	@media break-point-2
		font-size(26)

extra-large-type()
	font-family: $heading-font
	font-size(34)
	line-height: 1.4
	color: $highlight
	@media break-point-2
		font-size(38)

// case
lowercase()
	text-transform: lowercase
	
capitalize()
	text-transform: sentencecase
	
uppercase()
	text-transform: uppercase

// style ALL editorial type here / within some scoped class...
.editorial, .editorial-example
	//
	h1 //
		extra-large-type()
		color: $black
		margin-bottom: $pad

	h2 //
		large-type()
		color $color
		margin-bottom: $pad
	p + h2
		margin-top: $pad*3

	h3 //
		medium-type()
		color: $highlight
		margin-bottom: $pad
	p + h3
		margin-top: $pad*3

	h4 //
		medium-type()
		margin-bottom: $pad
	p + h4
		margin-top: $pad*3

	h5 //
		standard-type()
		font-weight: bold
		margin-bottom: $pad

	p + h5
		margin-top: $pad*3

	p //
		standard-type()
		margin-bottom: $pad

	ul, ol
		padding: $pad 0 $pad $pad*1.7
		li //
			margin-bottom $pad*.5
