
// colors
$black 		= #222222
$white 		= #efefef
$gray 		= gray
$color 		= red
$highlight 	= blue
$alternate 	= yellow

// shade
shade($color, $percent)
	mix($black, $color, $percent)

// tint
tint($color, $percent)
	mix($white, $color, $percent)

// variations
$gray-light 		= tint($gray, 50%)
$gray-dark 			= shade($gray, 50%)
$gray-lighter 		= tint($gray-light, 80%)

$color-light 		= tint($color, 50%)
$color-dark 		= shade($color, 50%)

$highlight-light 	= tint($highlight, 50%)
$highlight-dark 	= shade($highlight, 25%)

$alternate-light 	= tint($alternate, 50%)
$alternate-dark 	= shade($alternate, 25%)

// layout
$padding = 0.6rem
$pad = $padding
$corner = 5px
