
/*! this style-sheet is generated with stylus

	sheriffderek.consulting/basic

*/

/*! set charicter set */
@charset 'UTF-8'

/*! meyer reset */
@import '_meyer-reset'

/*! user reset */
@import '_user-reset'

// user variables
@import '_variables'

// mixins
@import '_mixins'

// accessibility
@import '_accessibility'

/*! basic philosophy */
@import '_basic'

// break points
@import '_break-points'

/*! type */
@import '_type'

/*! icons */
@import '_icons'

/*! components */
@import '_components'

// development helpers
@import '_dev-helpers'

// grid 
@import '_grids'

// mini-themes
@import '_mini-themes'

/*! style-guide */	
@import '_style-guide'
/* this is just an example
	i would just delete it. */

/*! print styles */
@import '_print'

/*! styles */
@import '_styles'






