
/*! this style-sheet is generated with stylus */

/*! set charicter set */
@charset 'UTF-8'

/*! user reset */
@import '_user-reset'

// user variables
@import '_variables'

// mixins
@import '_mixins'

/*! basic */
@import '_basic'

// break points
@import '_break-points'

/*! type */
@import '_type'

/*! icons */
@import '_icons'

/*! components */
@import '_components'

// development helpers
@import '_dev-helpers'

/*! style-guide */	
@import '_style-guide'
/* this is just an example
	i would just delete it. */


/*! styles */
@import '_styles'
